@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #224941 url('./img/2.jpg') no-repeat center center/cover;
  color: #fff;
  font-family: 'Architects Daughter', cursive;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-size: 19px;
}

h1{
  display: flex;
  font-size: 35px;
  font-size: min(max(20px, 6vw), 31px);
  color: #fff;
  background-color: #010f1c;
  width: 100%;
  height: 45px;
  min-height: 6vh;
  align-items: center;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
}

.circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-circle {
  background: conic-gradient(
    #55b7a4 0%,
    #4ca493 40%,
    #fff 40%,
    #fff 60%,
    #336d62 60%,
    #2a5b52 100%
  );
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

.pointer{
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

/* ROTATION POINTER */
@keyframes rotate {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

/* GROW BREATH IN */
.container.grow{
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
      transform: scale(1);
  }

  to {
      transform: scale(1.2);
  }
}

/* SHRINK BREATH OUT */
.container.shrink{
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
      transform: scale(1.2);
  }

  to {
      transform: scale(1);
  }
}

